@page "/"
@page "/index"
@inject IRepository Repository

<div>
    <h3>Em Cartaz</h3>
    <ListaFilmes Filmes="_emCartaz" />
</div>
<hr />
<div>
    <h3>Próximos Lançamentos</h3>
    <ListaFilmes Filmes="_proximosLancamentos" />
</div>

@code {
    private List<Filme> _emCartaz;
    private List<Filme> _proximosLancamentos;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await Repository.Get<HomePageDTO>("api/filme");
        _emCartaz = httpResponse.Response.EmCartaz;
        _proximosLancamentos = httpResponse.Response.ProximosLancamentos;
    }
}