@inherits LayoutComponentBase
@inject RenovadorToken RenovadorToken

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 d-flex flex-row">
        <Login />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        RenovadorToken.Iniciar();
    }
}
